a.artist-card-link {
  padding: 0 25px;
}

img.artist-image {
  width: 100%;
  height: 340px;
  box-sizing: border-box;
}

img.mobile-artist-image {
  object-fit: contain;
}

.uk-card-default.artist-card {
  background: #183859;
  color: white;
  border-radius: 25px;
}

h3.uk-card-title.artist-title {
  color: white;
}

a.artist-card-link:hover {
  text-decoration: none;
}

.col-right {
  position: relative;
  left: 10px;
}

.col-left {
  position: relative;
  right: 10px;
}
