a.artist-card-link {
  padding: 0 7%;
}

img.artist-image {
  width: 100%;
  height: 340px;
  box-sizing: border-box;
  object-fit: cover;
  border-radius: 25px 25px 0 0;
}

img.mobile-artist-image {
  object-fit: contain;
}

.mobile-artist-name {
  font-size: 1.3em;
  font-weight: 400;
}

.uk-card-default.artist-card {
  background: $color1;
  color: $color6;
  border-radius: 25px;
}

.uk-card-default.mobile-artist-card {
  border-radius: 0 10px 10px 0;
  padding: 10px 10px 10px 15px;
  background: $color1;
  color: $color6;
}

.col.uk-background-cover {
  border-radius: 10px 0 0 10px;
}

h3.uk-card-title.artist-title {
  color: $color6;
}

a.artist-card-link:hover {
  text-decoration: none;
}

.col-right {
  position: relative;
  left: 10px;
}

.col-left {
  position: relative;
  right: 10px;
}
