img.artist-image {
  width: 100%;
  height: 340px;
  box-sizing: border-box;
}

.uk-card-default.artist-card {
  background: #183859;
  color: white;
  border-radius: 25px;
}

h3.uk-card-title.artist-title {
  color: white;
}
