.event-content-container {
  padding: 5%;
}

.section-container {
  padding-bottom: 5%;
}

.header-area-container {
  padding: 2.5%;
}

.header-area {
  text-align: center;
}

.festival-page-loader .loader {
  height: 80vh;
  width: 100vw;
}
