.event-content-container {
  padding: 5%;
}

.section-container {
  padding-bottom: 5%;
}

.header-area-container {
  padding: 2.5%;
}

.header-area {
  text-align: center;
}

.genre-filter-icon {
  font-size: 2.75rem;
}

.festival-page-loader .loader {
  height: 80vh;
  width: 100vw;
}

.festival-page-loader h1 {
  text-align: center;
  color: $color6;
  padding-top: 5%;
}

.Event-Header-Container {
  padding: 5%;
}

.Event-Header {
  text-align: center;
}

.Event-Header-Actions.uk-grid {
  display: flex;
  justify-content: center;
}

.Event-Body {
  padding: 2%;
}

button.buy-tickets-btn {
  background-color: #f80046;
  color: $color6;
}

.header-section {
  padding-top: 2%;
}

button.make-playlist-btn {
  background-color: #1fcf5f;
  color: $color6;
  border-radius: 25px;
}

.Event-Body-Header {
  margin: 0 15px;
  position: relative;
  padding-bottom: 2%;
}

a.filter-modal:hover {
  text-decoration-color: white;
}

div.genre-heading-container {
  padding-left: 10px;
}

@media (min-width: 655px) {
  div.generate-playlist-container {
    margin-right: 2%;
  }
}

@media (max-width: 655px) {
  .genre-heading {
    min-width: 200px;
    max-width: 200px;
  }
}

@media (max-width: 507px) {
  .middle-uk-column {
    display: none;
  }
}
