.event-content-container {
  padding: 5%;
}

.section-container {
  padding-bottom: 5%;
}

.header-area-container {
  padding: 2.5%;
}

.header-area {
  text-align: center;
}

.festival-page-loader .loader {
  height: 80vh;
  width: 100vw;
}

.festival-page-loader h1 {
  text-align: center;
  color: $color6;
  padding-top: 5%;
}

.Event-Header-Container {
  padding: 5%;
}

.Event-Header {
  text-align: center;
}

.Event-Header-Actions.uk-grid {
  display: flex;
  justify-content: center;
}

.Event-Body {
  padding: 2%;
}

button.buy-tickets-btn {
  background-color: #f80046;
  color: $color6;
}

.header-section {
  padding-top: 2%;
}

button.make-playlist-btn {
  background-color: #1fcf5f;
  color: $color6;
  border-radius: 25px;
}

.Event-Header-Playlist {
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
}

.Event-Body-Header {
  margin: 0 15px;
  position: relative;
}

.genre-heading {
  width: calc(100% - 170px);
}