span.loading-spinner-spacer {
  position: relative;
  left: 5px;
  width: 20px;
}

.loading-background-container {
  opacity: 1;
  background: $modal-background-black;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1010;
}

.hide-background {
  display: none;
}
