nav.uk-navbar-container.uk-margin.uk-navbar {
  background-color: $off-black;
}

a.uk-navbar-item.uk-logo {
  color: $white;
}

ul li a.nav-sub-item {
  color: $white;
}

ul li a.nav-sub-item:hover {
  color: $grey;
}
