nav.uk-navbar-container.uk-margin.uk-navbar {
  background-color: $black-primary;
}

a.uk-navbar-item.uk-logo {
  color: $blue-primary;
}

ul li a.nav-sub-item {
  color: $blue-secondary;
}

ul li a.nav-sub-item:hover {
  color: $blue-primary;
}
