nav.uk-navbar-container.uk-margin.uk-navbar {
  background-color: $color2;
}

a.uk-navbar-item.uk-logo {
  color: $color6;
}

ul li a.nav-sub-item {
  color: $color6;
}

ul li a.nav-sub-item:hover {
  color: $color3;
}
