.search-area {
  padding: 5%;
}

.search-bar-container {
  padding: 5%;
}

.search-results-region-name {
  text-align: center;
}

.search-results-region-name h2 {
  color: $color6;
  font-weight: 300;
}
