// Colors
$dark-blue: #183859;
$danger-red: #d00000;
$off-black: rgba(23, 33, 33, 1);
$modal-background-black: rgba(0, 0, 0, 0.6);
$grey: rgba(127, 123, 130, 1);
$off-white: #f5e6e8;
$black: rgba(0, 15, 8, 1);
$white: white;
// Font size
$font-size-xl: 2.7rem;
$font-size-lg: 1.8rem;
$font-size-sm: 1.4rem;
// Spacing
$xl-size: 4.8rem;
$l-size: 3.2rem;
$m-size: 1.6rem;
$s-size: 1.2rem;
$desktop-breakpoint: 45rem;
// Font rules
.white-text {
  color: $white;
}
